*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #080A1E;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
button:active,
button:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1182px;
  width: 100%;
}

.header__inner {
  padding: 45px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 180px;
  height: 37px;
  position: relative;
  z-index: 10;
}
.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.intro {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.intro__how {
  display: flex;
  align-items: center;
}
.intro__how img {
  display: block;
  width: 54px;
  height: 62px;
  margin-right: 15px;
}
.intro__inner {
  padding: 55px 0 130px 0;
  display: flex;
  flex-direction: column;
}
.intro__block {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
}
.intro__img {
  position: absolute;
  right: 50px;
  bottom: -4px;
  width: 807px;
  height: 807px;
}
.intro__img::before {
  content: "";
  display: block;
  width: 636px;
  height: 636px;
  background: #F52E5E;
  border-radius: 100%;
  z-index: -1;
  bottom: -60px;
  right: 0;
  box-shadow: 0px 4px 30px #F52E5E;
  position: absolute;
}
.intro__img img {
  display: block;
  width: 100%;
}

.color {
  color: #F52E5E;
}

.title {
  font-family: "Prosto One", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  position: relative;
  z-index: 10;
}
.title--intro {
  width: 550px;
  font-size: 80px;
  line-height: 90px;
}
.title--program {
  width: 786px;
}
.title--buy {
  margin: 0 auto;
  width: 947px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  position: relative;
}
.title--autor {
  margin-bottom: 45px;
}

.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
}
.subtitle--intro {
  padding: 45px 0;
}
.subtitle--time {
  width: 290px;
  margin-left: 35px;
}
.subtitle--italic {
  font-style: italic;
}
.subtitle--how {
  position: relative;
  width: 500px;
}
.subtitle--center {
  text-align: center;
}
.subtitle--white {
  color: #ffffff;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}
.text--bold {
  font-weight: 700;
}
.text--bg {
  background-color: #F52E5E;
  padding: 1px 8px;
  border-radius: 45px;
}
.text--bg-dark {
  background-color: #080A1E;
}
.text--autor {
  margin-bottom: 30px;
}

.button {
  display: block;
  width: 315px;
  height: 98px;
  background: #F52E5E;
  box-shadow: 0px 10px 30px rgba(245, 46, 94, 0.4);
  border-radius: 90px;
  font-size: 22px;
  text-align: center;
  padding: 35px 0;
  font-family: "Prosto One", cursive;
  color: #ffffff;
}
.button:hover {
  opacity: 0.7;
  transition: 0.2s linear;
}
.button--buy {
  margin: 0 auto;
  cursor: pointer;
  width: 600px;
  border: none;
  color: #ffffff;
}

.list__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.list__item:last-of-type {
  margin-bottom: 0;
}
.list__item--circle::before {
  content: "";
  display: flex;
  width: 17px;
  height: 17px;
  background: #F52E5E;
  transform: rotate(-77.04deg);
  border-radius: 100%;
  flex: 0 0 auto;
  margin-right: 11px;
}
.list__item--sun {
  align-items: center;
}
.list__item--sun::before {
  content: url("../img/course/sun.svg");
  display: flex;
  margin-right: 4px;
  margin-left: -13px;
}

.course {
  padding: 50px 0;
  color: #080A1E;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
.course::before {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: #F52E5E;
  opacity: 0.5;
  filter: blur(200px);
  top: -50px;
  left: -50px;
}
.course::after {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: #F52E5E;
  opacity: 0.5;
  filter: blur(200px);
  top: 50%;
  right: -50px;
  z-index: 1;
}
.course__inner {
  margin-top: 50px;
}
.course__inner--item {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 45px 90px 66px 90px;
  z-index: 10;
}
.course__list {
  margin-top: 30px;
}

.autor {
  padding: 70px 0;
  position: relative;
  z-index: 1;
  background-image: url("../img/autor/autor-bg.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 30%;
}
.autor__inner {
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: 70px;
}
.autor__img {
  display: block;
  width: 870px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.autor__img img {
  display: block;
  width: 100%;
}

.buy {
  padding: 110px 0 50px 0;
  position: relative;
  z-index: 1;
}
.buy__form {
  display: block;
  margin: 30px auto 0 auto;
}
.buy__input {
  display: block;
  margin: 0 auto 20px auto;
  width: 600px;
  height: 80px;
  border-radius: 90px;
  border: 1px #F52E5E solid;
  padding: 28px 30px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  outline: none;
}
.buy__small {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.buy__small small {
  letter-spacing: 0.03em;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.footer {
  padding: 120px 0;
}
.footer__inner {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__inner--text {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.footer__inner--email {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: underline;
  color: #F52E5E;
}
.footer__inner--email:hover {
  color: #ffffff;
  transition: 0.2s linear;
}
.footer__link {
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.footer__link--item {
  display: block;
  width: 65px;
  height: 65px;
  fill: #F52E5E;
}
.footer__link--item:hover:hover {
  opacity: 0.7;
  transition: 0.2s linear;
}
.footer__link--item svg {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1700px) {
  .autor__img {
    left: -50px;
  }
}
@media (max-width: 1600px) {
  .autor__img {
    left: -140px;
  }
}
@media (max-width: 1440px) {
  .autor {
    background-position-x: 115%;
  }
  .autor__inner {
    width: 600px;
    margin-left: auto;
    margin-right: 0;
  }
  .autor__img {
    left: -140px;
  }
}
@media (max-width: 1366px) {
  .container {
    padding: 0 1%;
  }

  .intro__inner {
    position: relative;
    z-index: 1;
  }
  .intro__img {
    right: -55px;
    width: 600px;
    height: auto;
    bottom: 0;
  }
  .intro__img::before {
    width: 500px;
    height: 500px;
  }

  .course__inner--item {
    margin: 0 auto 50px auto;
    width: 90%;
  }

  .autor__img {
    width: 800px;
  }
}
@media (max-width: 1183px) {
  .autor {
    padding: 60px 0 0 0;
    background-position-y: 15%;
  }
  .autor__inner {
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 90%;
  }
  .autor__img {
    position: static;
    margin: 0 auto;
  }
}
@media (max-width: 1112px) {
  .subtitle--how::before {
    display: none;
  }

  .intro__img {
    width: 500px;
  }
  .intro__img::before {
    right: -60px;
  }

  .buy::after {
    top: 59%;
  }
}
@media (max-width: 1040px) {
  .course__inner--item {
    padding: 30px 10px 60px 60px;
  }
}
@media (max-width: 991px) {
  .title--intro {
    order: 2;
  }
  .title--program {
    width: auto;
  }
  .title--buy {
    width: auto;
  }

  .subtitle--intro {
    order: 1;
    padding: 0 0 30px 0;
  }
  .subtitle--how {
    margin-top: 30px;
    width: 50%;
  }
  .subtitle--time {
    order: 5;
    width: 60%;
    margin-left: 0;
  }

  .button--intro {
    margin-top: 30px;
  }

  .intro__inner {
    padding: 60px 0 100px 0;
  }
  .intro__block {
    order: 4;
    flex-direction: column-reverse;
    margin-top: 30px;
    align-items: flex-start;
  }
  .intro__how {
    order: 3;
  }

  .autor {
    background-position-x: 131%;
  }

  .buy {
    overflow: hidden;
  }
}
@media (max-width: 834px) {
  .course__block {
    flex-direction: column;
  }
  .course__list {
    width: auto;
  }

  .autor__img {
    width: 560px;
  }

  .footer__link {
    width: 45%;
  }
  .footer__link--item {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .intro__img {
    width: 400px;
    right: -21px;
  }
  .intro__img::before {
    width: 400px;
    height: 400px;
  }

  .autor {
    background-image: none;
  }

  .footer__inner--text {
    font-size: 24px;
  }
  .footer__inner--email {
    font-size: 24px;
  }
}
@media (max-width: 667px) {
  .subtitle--how {
    width: 55%;
  }

  .button--buy {
    width: 90%;
  }

  .buy__input {
    width: 90%;
  }

  .footer__inner--text {
    font-size: 21px;
  }
  .footer__inner--email {
    font-size: 21px;
  }
  .footer__link {
    margin: 40px auto 0 auto;
    width: 40%;
  }
  .footer__link--item {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 568px) {
  .container {
    padding: 0 3%;
  }

  .title {
    font-size: 28px;
    line-height: 36px;
  }
  .title--intro {
    width: 50%;
    font-size: 34px;
    line-height: 40px;
  }
  .title--autor {
    margin-bottom: 35px;
  }
  .title--buy {
    font-size: 18px;
    line-height: 22px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .subtitle--intro {
    width: 210px;
    padding: 0 0 25px 0;
  }
  .subtitle--how {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    width: 57%;
  }
  .subtitle--time {
    width: 50%;
  }

  .text {
    font-size: 14px;
    line-height: 18px;
  }
  .text--autor {
    margin-bottom: 20px;
  }

  .list__item--circle::before {
    width: 10px;
    height: 10px;
  }
  .list__item--sun::before {
    content: url("../img/course/sun-m.svg");
    margin-left: -1px;
  }

  .button {
    width: 217px;
    height: 70px;
    border-radius: 90px;
    font-size: 18px;
    padding: 23px 0;
  }
  .button--intro {
    margin-top: 25px;
  }
  .button--buy {
    width: 95%;
  }

  .header__inner {
    padding: 10px 0 0 0;
  }
  .header__logo {
    width: 140px;
    height: 29px;
  }

  .intro__inner {
    padding: 40px 0 45px 0;
  }
  .intro__block {
    margin-top: 20px;
    position: relative;
    z-index: 2;
  }
  .intro__img {
    width: 380px;
    right: -70px;
    z-index: -1;
  }
  .intro__how img {
    display: none;
  }

  .course__img {
    width: 200px;
    margin-top: 30px;
  }
  .course__inner {
    margin-top: 30px;
  }
  .course__inner--item {
    padding: 30px 30px 60px 60px;
    margin: 0 auto;
  }
  .course__list {
    margin-top: 0;
  }

  .autor {
    padding: 65px 0 0 0;
  }
  .autor__img {
    width: 300px;
  }

  .buy {
    padding: 50px 0 0 0;
  }
  .buy__input {
    width: 95%;
    height: 59px;
    font-size: 17px;
    margin: 0 auto 15px auto;
  }

  .footer {
    padding: 60px 0;
  }
}
@media (max-width: 520px) {
  .intro__img {
    right: -100px;
  }
  .intro__img::before {
    display: none;
  }
}
@media (max-width: 414px) {
  .container {
    padding: 0 5%;
  }

  .title--intro {
    width: auto;
  }

  .button--buy {
    width: 100%;
  }

  .intro__img {
    right: -125px;
  }

  .course__inner--item {
    width: 100%;
    padding: 40px 20px;
  }
  .course__inner--item::before {
    top: 13px;
    right: -13px;
  }
  .course__img {
    width: 165px;
  }

  .autor__img {
    width: 250px;
  }

  .buy::after {
    right: -90px;
    bottom: -33px;
  }
  .buy__input {
    width: 100%;
  }

  .footer {
    padding-bottom: 50px;
  }
  .footer__inner {
    margin-top: 25px;
  }
  .footer__inner--text {
    font-size: 14px;
  }
  .footer__inner--email {
    font-size: 14px;
  }
  .footer__link {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .title--intro {
    font-size: 28px;
    line-height: 36px;
  }
}